body {
    color: gray;
    background-color: #f4f4f0;
    
}
p {
    
    border-width: 0px;
    border-color: lightgray;
    
    
    }

h2 {
    color: black;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 0.18em;
    padding: 15px, 18px;
    border: 5px solid;
    border-color: #862769;
    text-align: center;
}

nav{
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 45px;
    min-width: 700px;
    display: block;
    
    
}
ul{
    display: block;
    list-style-type: disc;
    word-spacing: 15px;
    padding-bottom: 0px;
    padding-top:0px;
   
}
ul li{
    display: inline-grid;
    padding-left: 0px;
    padding-right: 5px;
    font-size: 20px;
    border: 3px solid #eab059;
    border-radius: 15px;
    
}
li{
    text-align: -webkit-match-parent;
}

a:link{
    color:black;
    text-decoration: none }

a:visited {
    color: #c45096;
    text-decoration: none;
}
a:hover{
    color: #c45096;
    text-decoration: none;
                        }
a:active {
    color:white; 
    text-decoration: none;  
}

header h1{
    font-family: 'Kaushan Script', cursive; 
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 0px; 
    display: block;
    background-color: lavenderblush;
    padding-bottom:0px;
    color: #c45096;
    padding-left: 10px;
    letter-spacing: 0.2em;
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 0px;
}

p{
    line-height: 1.4em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    padding: 10px;
    color: #0a0a0a;
    border-radius: 2%;
    margin-bottom: 40px;
    margin-top: 40px;
}



.writingsamplesheader {    
    border: 1px solid deeppink;
    background-color: #c45096;
    color: black;
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    width: 30%;
    margin-right: 40%;
    margin-left: 35%;
    bottom: 450px;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}


a.button:link {
    color: deeppink;
    padding: 10px;
    position: 18px;
    bottom: 19px;
    border-radius: 10px;
    text-decoration: none; 
    }

a.button:active {
    color: darkcyan; 
}

a.button:visited {
color: #03d2e1;
border: 1px solid #03d2e1;
background color: #e0eced;
}

a.button:hover {
color: darkcyan;
border: 1px solid darkcyan;
background-color: #e0eced;
    }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
.sidenav {font-size: 18px;}
}